<h2> 1. Entendimento do Negócio </h2>

In [64]:
# Pacotes
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import svm
import pandas as pd
from sklearn import metrics
from joblib import dump, load

In [58]:
dir(datasets)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_base',
 '_california_housing',
 '_covtype',
 '_kddcup99',
 '_lfw',
 '_olivetti_faces',
 '_openml',
 '_rcv1',
 '_samples_generator',
 '_species_distributions',
 '_svmlight_format_fast',
 '_svmlight_format_io',
 '_twenty_newsgroups',
 'clear_data_home',
 'dump_svmlight_file',
 'fetch_20newsgroups',
 'fetch_20newsgroups_vectorized',
 'fetch_california_housing',
 'fetch_covtype',
 'fetch_kddcup99',
 'fetch_lfw_pairs',
 'fetch_lfw_people',
 'fetch_olivetti_faces',
 'fetch_openml',
 'fetch_rcv1',
 'fetch_species_distributions',
 'get_data_home',
 'load_boston',
 'load_breast_cancer',
 'load_diabetes',
 'load_digits',
 'load_files',
 'load_iris',
 'load_linnerud',
 'load_sample_image',
 'load_sample_images',
 'load_svmlight_file',
 'load_svmlight_files',
 'load_wine',
 'make_biclusters',
 'make_blobs',
 'make_checkerboard',
 'make_circles',
 'make_classification',
 'make_friedman1',
 'make_friedman2',
 'make_friedman3',
 'make_gaussian_quantiles',
 'make_hastie_10_2',
 'make_low_rank_matrix',
 'make_moons',
 'make_multilabel_classification',
 'make_regression',
 'make_s_curve',
 'make_sparse_coded_signal',
 'make_sparse_spd_matrix',
 'make_sparse_uncorrelated',
 'make_spd_matrix',
 'make_swiss_roll']

<strong> Descrição de Atributos. </strong> <br>
DESCR = a descrição geral do dataset <br>
data = para coletar as variáveis independentes, ou seja, features. <br>
target =  para coletar a variável alvo, que desejamos prever seu valor ou classe. <br>
feature_names = obter o nome das features <br>
target_names = obter o nome das varáveis alvo.

<img src = "imagens/flor.jpg"/>

<img src = "imagens/floresTipos.jpeg"/>

In [59]:
print(datasets.load_iris().DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [60]:
print(datasets.load_iris().feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [61]:
print(datasets.load_iris().target)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [62]:
print(datasets.load_iris().target_names)

['setosa' 'versicolor' 'virginica']

In [63]:
type(datasets.load_iris())

sklearn.utils.Bunch

<h2> 2. Análise Exploratória </h2>

In [65]:
# Criação de um dataframe
flores = pd.DataFrame(data = datasets.load_iris().data, 
                      columns = datasets.load_iris().feature_names)

In [66]:
type(flores)

pandas.core.frame.DataFrame

In [67]:
flores.shape

(150, 4)

In [68]:
flores.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [69]:
# Adição da varíavel alvo
flores['target'] = pd.Series(datasets.load_iris().target)

In [70]:
flores.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [71]:
floresPreditores = flores.iloc[:,0:4]

In [72]:
floresPreditores.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [76]:
min(floresPreditores['petal width (cm)'])

0.1

In [73]:
floresAlvo = flores.iloc[:,4]

In [74]:
floresAlvo

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [77]:
# Separação entre os dados de treino (70%) e teste (30%).
# X variável preditora
# Y variável alvo
floresXTreino, floresXTeste, floresYTreino, floresYTeste  = train_test_split(floresPreditores,floresAlvo,test_size = 0.3)

In [78]:
# Visualização de dados 
floresXTreino.head(5)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
12                 4.8               3.0                1.4               0.1
34                 4.9               3.1                1.5               0.2
109                7.2               3.6                6.1               2.5
110                6.5               3.2                5.1               2.0
65                 6.7               3.1                4.4               1.4

In [79]:
floresXTeste.head(5)

    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
28                5.2               3.4                1.4               0.2
97                6.2               2.9                4.3               1.3
76                6.8               2.8                4.8               1.4
21                5.1               3.7                1.5               0.4
31                5.4               3.4                1.5               0.4

In [80]:
floresYTreino.head(5)

12     0
34     0
109    2
110    2
65     1
Name: target, dtype: int64

In [81]:
floresYTeste.head(5)

28    0
97    1
76    1
21    0
31    0
Name: target, dtype: int64

<h2> 3. Criação do Modelo Preditivo </h2>

In [83]:
# Treinamento do modelo
modelo1 = svm.SVC().fit(floresXTreino,floresYTreino)

In [84]:
print(modelo1)

SVC()

In [85]:
# Efetuando as previsões
previsoes = modelo1.predict(floresXTeste)

In [86]:
# Visualizando as informações
previsoes

array([0, 1, 1, 0, 0, 2, 1, 1, 1, 0, 1, 0, 2, 1, 1, 2, 1, 2, 0, 0, 1, 1,
       0, 0, 2, 1, 1, 2, 2, 2, 2, 1, 0, 2, 2, 1, 2, 0, 0, 0, 0, 2, 0, 2,
       1])

<h2> 4. Avaliação do Modelo Preditivo </h2>

In [87]:
# Acucária = número de acertos / total da amostra
print("Acurácia: %3.2f" % metrics.accuracy_score(previsoes,floresYTeste))

Acurácia: 0.96

In [90]:
dump(modelo1,'modelo1.pk1')

['modelo1.pk1']

In [91]:
# Explorando arquivos
!ls

appGeraModelo.ipynb  modelo1.pk1	  streamlit_app.py
imagens		     modeloPreditivo.pk1